:root{
    --primary-color:#ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdd;
    --star-gold-color: #ffce3e;
    --header-height: 120px;
    --navbar-height: 29px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: inherit; /*kế thừa*/
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.text-upcase{
    text-transform: uppercase !important; 
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
/* Animation */
@keyframes faceIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth {
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* Modal CSS */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* display: flex; */
    display: none;    
}
.modal__overlay{
position: absolute;
width: 100%;
height: 100%;
background-color:rgb(0, 0, 0, 0.4);
animation: faceIn linear .3s;
}

.modal__body{
    --growth-from: .7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    animation: growth linear .3s;
}

/* Button Style */
.btn{
    min-width: 142px;
    height: 34px;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    /* text-transform: uppercase; */
    background-color: var(--white-color);
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn.btn--nomal:hover{
background-color: rgb(0, 0, 0, 0.1);
}
.btn.btn--primary{
color: var(--white-color);
background-color: var(--primary-color);
}
.btn.btn--disable{
    cursor: default;
    background-color: #999;
    color: #ccc;
}
.btn.btn-size-s{
    height: 32px;
    font-size: 12px;
}
.btn--with-icon{
    padding: 0 8px;
}
/* Select input */
.select-input{
    position: relative;
    height: 34px;
    padding: 0 12px;
    min-width: 200px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-input:hover .select-input__list{
display: block;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input-icon{
    font-size: 1.4rem;
    color:rgb(131, 131, 131);
    position: relative;
    top: 1px;
    cursor: pointer;
}
.select-input__list{
    background-color: var(--white-color);
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 8px 16px;
    border-radius: 2px;
    display: none;
    z-index: 1;
}
.select-input__list::before{
    content: "";
    position: absolute;
    top: -11%;
    width: 100%;
    height: 10px;
    left: 0;
    
}
.select-input__link{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 4px;
}
.select-input__link:hover{
color: var(--primary-color);
}
/* Pagination 1 2 3 4 5 ... 14 */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item{
    margin: 0 12px;
}

.pagination-item__link{
    border-radius: 2px;
    --height: 30px ;
    display: block;
    font-size: 2rem;
    color: #939393;
    text-decoration: none;
    min-width: var(--height);
    height: var(--height);
    line-height: 30px;
    text-align: center;
}

.pagination-item__active .pagination-item__link{
background-color: var(--primary-color);
color: var(--white-color);
}
.pagination-item__active .pagination-item__link:hover{
    background-color: #ed5c3f;
}